.form-container{
  background-color: #eaeaea;
  padding: 50px 20px; 
  -webkit-box-shadow: 1px 3px 10px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 3px 10px -4px rgba(0,0,0,0.75);
  box-shadow: 1px 3px 10px -4px rgba(0,0,0,0.75);
  margin-top: 12vh;
}

input[type="text"]{
  padding:14px;
}

.success-text{
  color:green;
}

.error-text{
  color:red;
}